<table width="100" border="5" cellpadding="5">
<tr>

<td align="center" valign="center">
<a href="jarvis-seo.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/19399397_1508054425925268_7492086389811782637_n.jpg?oh=8ad66d368bb5827024b95eec72a461a2&oe=59FA3464" alt="Acaba, Rjay J." style="width:300px;height:300px;">

<br />
Acaba, Rjay J.
</td>

<td align="center" valign="center">
<a href="https://emanstyx.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/19260443_858697980951294_6380678329355430933_n.jpg?oh=b23e01fca6e3808201faa467f362c663&oe=5A0C8147" alt="Adlaon, Eman R." style="width:300px;height:300px;">
<br />
Adlaon, Eman R.
</td>


<td align="center" valign="center">
<a href="http://balansi-0772017.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-1/11210415_1025381477490554_1921662932387418003_n.jpg?oh=e2d4d97213985b516f9669c3e080376f&oe=5A032BFD" alt="Balansi, Donald Bill, jr . V." style="width:300px;height:300px;">
<br />
Balansi, Donald Bill, jr . V.
</td>


<td align="center" valign="center">
<a href="https://allaboutseo.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/18519732_1131842676920844_6156667886425409715_n.jpg?oh=385d64d1aa36f77d8ebe3bb7968b835e&oe=59F98B13" alt="Calamba, Chris Dianne R." style="width:300px;height:300px;">
<br />
Calamba, Chris Dianne R.
</td>
 
<tr>

<td align="center" valign="center">
<a href="https://capua-seo.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/18341872_1364071513647304_2843480883790919247_n.jpg?oh=d7d1e9fe1c99cd144c351edb390b1102&oe=5A388BDE" alt="Capua, Ryan Christian." style="width:300px;height:300px;">
<br />
Capua, Ryan Christian.
</td>
 
 <td align="center" valign="center">
 <a href="https://itelect-assign1.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/19642730_1707519465944748_3144127703232476339_n.jpg?oh=fb2d97cd841ef2a6497497464005d062&oe=59EEC6FD" alt="Cardino, Rannie Claire H." style="width:300px;height:300px;">
<br />
Cardino, Rannie Claire H.
</td>

<td align="center" valign="center">
<a href="damase3.herokuapp.com">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-1/19642706_1904688596460819_653284636725843910_n.jpg?oh=145986e8bc33ccf3325ab55b71dfba65&oe=59F9FE5C" alt="Dama, Criscia Jean C." style="width:300px;height:300px;">
<br />
Dama, Criscia Jean C.
</td>
 

 <td align="center" valign="center">
 <a href="infovert.herokuapp.com">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/15590429_1257684324289870_5048758845711661369_n.jpg?oh=07ba99a0e3e04279e13f5da314694849&oe=59FC3A47" alt="Dorado, Christian Miguel D." style="width:300px;height:300px;">
<br />
Dorado, Christian Miguel D.
</td>
 
 <tr>

 <td align="center" valign="center">
 <a href="http://estilloso-itelect-assign1.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/18839334_1534873719918248_3769814566744562011_n.jpg?oh=3abd563be3f1287b6d34c43048d68259&oe=59F44798" alt="Estilloso, Chessadel.
</td>" style="width:300px;height:300px;">
<br />
Estilloso, Chessadel.
</td>
</td>
 

 <td align="center" valign="center">
 <a href="">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/19225581_1739335466095910_6393825454955759478_n.jpg?oh=3a1d680a1b66f4164f07b028fceca6c8&oe=59EC425E" alt="Fandino, Reno Marco D." style="width:300px;height:300px;">
<br />
Fandino, Reno Marco D.
</td>
 


 <td align="center" valign="center">
 <a href="seollait.herokuapp.com">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t31.0-1/c0.0.852.852/17492611_1951435951752630_7768388027230725569_o.jpg?oh=692943434f651ad9c12be0b2e14f8c12&oe=59F83F18" alt="Llait, HArryn Glyde B." style="width:300px;height:300px;">
<br />
Llait, Harryn Glyde B.
</td>
 

 <td align="center" valign="center">
 <a href="http://seo-mat.herokuapp.com">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-1/c0.0.719.719/18698523_711474065720954_8020630067374413716_n.jpg?oh=444fb012d7d0cb374df37a605bf42ac3&oe=59ED0CAA" alt="Matildo, Marco F." style="width:300px;height:300px;">
<br />
Matildo, Marco F.
</td>

<tr>

  <td align="center" valign="center">
  <a href="http://seomust.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/15193681_1528660533817024_3195762922215468653_n.jpg?oh=8a7b2ad1db7d164a7c3cdb8434ce094d&oe=5A00DDB2" alt="Montegrande, Elouise Bern P." style="width:300px;height:300px;">
<br />
Montegrande, Elouise Bern P.
</td>
 
  <td align="center" valign="center">
  <a href="https://ave-electives.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/12804697_1118856184821873_1281652099576595036_n.jpg?oh=8ae19e456d7353e1df5fa1cc670a4eb0&oe=5A09F017" alt="Moratin, Ave Janica P." style="width:300px;height:300px;">
<br />
Moratin, Ave Janica P.
</td>
 

  <td align="center" valign="center">
  <a href="">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/18814164_1360141070739396_6905891434709800948_n.jpg?oh=b7498a238d1e14a3aa7c2958616dc0b4&oe=5A387FD6" alt="Napalit, Seth Jasper A." style="width:300px;height:300px;">
<br />
Napalit, Seth Jasper A.
</td>
 

  <td align="center" valign="center">
  <a href="http://thesearch.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/19400005_1782947668387335_4362943089025370903_n.jpg?oh=e3241b86452dbf4e6e7163930691d3c5&oe=5A0FAD48" alt="Paclar, John Dave R.
" style="width:300px;height:300px;">
<br />
Paclar, John Dave R.

</td>
 
 <tr>

  <td align="center" valign="center">
  <a href="https://aboutseo.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/14492599_1270548256290297_7023812770126215792_n.jpg?oh=4419d3d0897fec7030fdca286604d1cf&oe=59F0648D" alt="Padolina, Edgar Angelo M." style="width:300px;height:300px;">
<br />
Padolina, Edgar Angelo M.
</td>


  <td align="center" valign="center">
  <a href="http://electivesapp.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/19748533_1071578456277303_6118111138770992429_n.jpg?oh=ee16e5f7e951664a9c8b1f8a70effd71&oe=5A0055F5" alt="Matildo, Marco F." style="width:300px;height:300px;">
<br />
Poliquit, Zillah Paola 
</td>

 <td align="center" valign="center">
 <a href="searchengineoptimization.herokuapp.com">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/17634292_1612389465455877_4256253814541766735_n.jpg?oh=ff0c14d974626eebf6918fd7c5ac75bd&oe=59F0FB00" alt="Pregua, Joshua S." style="width:300px;height:300px;">
<br />
Pregua, Joshua S.
</td>
 

  <td align="center" valign="center">
  <a href="https://assseo.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/20246454_1398126910256616_7960039714698910422_n.jpg?oh=cc777b4f01e76d6453d9afaf9e58cb92&oe=59F43C49" alt="Regidor, Joyce D." style="width:300px;height:300px;">
<br />
Regidor, Joyce D.
</td>
  

<tr>
	

  <td align="center" valign="center">
  <a href="https://saludaga-060717.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/18556008_1812298585754030_8236419010857626304_n.jpg?oh=c0dd2b52fd1d2fd3d8d77b5858ca123f&oe=5A041E39" alt="Saludaga, Paul May Liza A." style="width:300px;height:300px;">
<br />
Saludaga, Paul May Liza A.
</td>


  <td align="center" valign="center">
  <a href="https://tabanao-electiveassign.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-1/10636313_829656757055851_2187384912440009215_n.jpg?oh=cdf3417f51b2a31ebb99caf4fc8dbc44&oe=59EBD741" alt="Tabanao, Arvin Brylle A." style="width:300px;height:300px;">
<br />
Tabanao, Arvin Brylle A.
</td>


  <td align="center" valign="center">
  <a href="http://searchenginetopic.herokuapp.com">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/18620419_1436291723076530_8973249014046728097_n.jpg?oh=353f84d4a5e3724f4c87cded3a6a7453&oe=5A03140A" alt="Tan, Donnrey C." style="width:300px;height:300px;">
<br />
Tan, Donnrey C.
</td>


  <td align="center" valign="center">
  <a href="http://seoassignment1.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/17098489_1229742783747083_8721786208924377267_n.jpg?oh=70221031cf08c86631e801cd137decb9&oe=59F5FAC0" alt="Tenajeros, Jules Andrew B.
" style="width:300px;height:300px;">
<br />
Tenajeros, Jules Andrew B.

</td>


<tr>
	

  <td align="center" valign="center">
  <a href="http://tomambid-seo.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-1/18118434_1707992905885427_4299023178525894991_n.jpg?oh=7d83ac13acebc1ca194850be62b97bd2&oe=59F189F5" alt="Tomambid, James Marie P." style="width:300px;height:300px;">
<br />
Tomambid, James Marie P.
</td>


  <td align="center" valign="center">
  <a href="">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/13770260_1065139453540953_1389149487601683833_n.jpg?oh=d71b3e4950cdd55fc1fe534ca460fd89&oe=5A0DBAB8" alt="Tsuruoka, Elven Earl A." style="width:300px;height:300px;">
<br />
Tsuruoka, Elven Earl A.
</td>


  <td align="center" valign="center">
  <a href="http://elective1ulangcaya.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/20245508_1373912282729677_8546822055270987052_n.jpg?oh=c8ba7de6a8fd63748a0f1558f55e6135&oe=5A03E887" alt="Ulangkaya, Johanna P." style="width:300px;height:300px;">
<br />
Ulangkaya, Johanna P.
</td>


  <td align="center" valign="center">
  <a href="http://villaabrilleseo.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/19248059_1785064468176146_2970282996990256859_n.jpg?oh=c65ff57603cc06da371e104c926b19ec&oe=5A37C0BC" alt="Villa Abrille, Isaiah Evans A." style="width:300px;height:300px;">
<br />
Villa Abrille, Isaiah Evans A.

<tr>
	
	 <td align="center" valign="center">
	 <a href="http://villegaselective1assignment2.herokuapp.com/">
<img src="https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.0-9/16649542_1340308485991681_6654046027222142550_n.jpg?oh=c72a70f66c479941a15a74cae5db3511&oe=5A067505" alt="Villegas, Ervin James G." style="width:300px;height:300px;">
<br />
Villegas, Ervin James G.

</tr>
</td>
</tr>
</tr>
 </tr>
</tr>
</tr>
</tr>


<a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal">
<button class="button button1">Home</button> 

<div class="w3-bar w3-white  w3-hide-small">
</table>