<!DOCTYPE html>
<html>
<title>PART2</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/75/5f/54/755f54002db0661f2a251d7ca95b8f76--women-drawing-drawing-woman.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>SEO!</b></h4>
    
  </div>
  <div class="w3-bar-block">
  
   <a href="/PART3" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Proceed</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Home</a>
     <a href="/BACKLINKS" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Backlinks</a>
      <a href="/SS" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Website checker</a>




  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="seo">
    <a href="#"><img src="https://s-media-cache-ak0.pinimg.com/736x/85/52/dd/8552ddd388675c780e864f044e8902b6--woman-illustration-cara-delevinge.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>SEO</b></h1>
   
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://i1.wp.com/greenlightintel.com/wp-content/uploads/2017/02/GLI-SEO-business-system-upgrade.png?fit=1920%2C624" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Difference between SEO & SEM</b></p>
        <p>Web optimization is basically a segment of the bigger class, According to Google's Knowledge Graph,
        site design improvement is "the way toward augmenting the quantity of guests to a specific site by guaranteeing that the webpage
        seems high on the rundown of results returned by an internet searcher.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://www.webseoanalytics.com/blog/wp-content/uploads/2010/09/subdomains.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>SEO strategies listed: Domain Strategy</b></p>
        <p>Web crawlers do utilize the watchwords in area names as a positioning variable 
        (which clarifies the presence of spaces like "where-to-purchase the-best-doughnuts in-Seattle.com"), 
        yet tread delicately when considering upgrading your root area for web crawlers: One of the particular 
        elements of Google's calculation is to battle these catchphrase stuffed correct match areas.
</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="https://www.innotas.com/wp-content/uploads/2015/11/Building-Bridges-Webinar-Image.png" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Linking Strategy:</b></p>
        <p>This third party referencing system is, obviously, the least demanding one to do. Why?
        Well since it's a factor that you can control 100% , since the connection is situated inside your site.
        It is apparently an on location component however it is an off-site factor 
        since you are doing inside connecting for the web index crawlers and PR chiseling</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://www.aokmarketing.com/wp-content/uploads/2017/01/Keyword-Cloud.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Keyword Strategy:</b></p>
        <p> Catchphrase Strategies are fundamental for creating winning web crawler showcasing efforts. Your watchword methodology ought to include choosing high-performing catchphrases that drive important activity to your business. Picking the correct catchphrases for publicizing can have a significant effect in your battles, deciding how well your notices rank on Google and other web crawler stages.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://www.wolfgangdigital.com/uploads/blog/On-Page_SEO_Title_Tag.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Title tags Strategy: </b></p>
        <p>The title (i.e., feature) of your blog entry will be a web index's and peruser's initial phase in deciding the pertinence of your substance, so including a catchphrase here is essential. Make sure to incorporate your watchword inside the initial 65 characters of your feature, which is just about where Google cuts it off on web search tool comes about pages (SERPs). Actually, Google measures by pixel width, not character number, and it as of late expanded the pixel width for natural query items from roughly 500 pixels to roughly 600 pixels, which converts into around 65 characters. </p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="http://www.dariopetkovic.com/wp-content/uploads/2012/12/description-meta-tag.png" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Meta description tags Strategy: </b></p>
        <p>The pursuit world is always showing signs of change yet one thing is consistent: Websites with quality substance that address the issues of those hunting down that substance, and that give an easy to use involvement, will win in the SERPs. This all begins with your meta descriptions which is basically the appreciated tangle to your site's virtual entryway. Make certain to consolidate these tips to guarantee you're displaying the best early introduction you can.</p>
      </div>
    </div>
   <div class="w3-third w3-container">
      <img src="http://webpromotionerindia.com/wp-content/uploads/2016/01/onpage-seo-strategy.png" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Alt tags Strategy: </b></p>
        <p>In the dinky waters of site improvement (SEO) rests a considerable measure of specialized wording like meta information, title labels and backlinks. In case you're attempting to get SEO all together, it can be particularly overpowering to know where to begin. Luckily, SEO is regularly taken piece by piece and every component adds to a general system for progress. Hunt masters have rambled about how web search tools creep and file sites and the significance of enhancing your substance to build your natural inquiry rank. One imperative piece that is regularly disregarded is guaranteeing pictures on your site are properly named or"tagged" Paying thoughtfulness regarding the option content (frequently alluded to as alt labels or alt characteristics) can expand your odds of internet searcher achievement. </p>
      </div>
    </div>

     <div class="w3-third w3-container">
      <img src="https://thumbs.dreamstime.com/z/seo-search-engine-optimization-word-cloud-14350719.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Search Engine Indexing strategy: </b></p>
        <p>Consolidation factors, which choose how the data enters the record, choosing whether the information is new information or information that is being refreshed. List measure, which relates to the measure of PC space important to help the record. Capacity methods, which is the choice of how the data ought to be put away. Bigger documents are compacted while littler records are essentially sifted. Adaptation to non-critical failure alludes to the issue of how imperative it is for the web index file to be solid. Query speed is precisely as it sounds, relating to how rapidly a word can be discovered when the information is sought in the upset record. Upkeep is an imperative factor too in light of the fact that the better kept up a web crawler list, the better it works. </p>
      </div>
    </div>

 

  <!-- Images of Me -->
  <div class="w3-row-padding w3-padding-16" id="about">
    <div class="w3-col m6">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/3e/ff/a5/3effa56691c3fb61d87a05c3eb9aaf28--hipster-girl-drawing-girl-drawings.jpg" alt="Me" style="width:100%">
    </div>
    <div class="w3-col m6">
      <img src="http://jp6.r0tt.com/l_f65aa8f0-210f-11e2-a7ea-b989b2f00006.jpg" alt="Me" style="width:100%">
    </div>
  </div>

  <div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h4><b>About Me</b></h4>
    <p>The goal of education is not the increase the amount of knowledge but to create the possibilities for a child to invent and discover, to create person who are capable of doing new certain things.</p>
    <hr>
    
    <h4>Technical Skills</h4>
    <!-- Progress bars / Skills -->
    <p>Photography</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:95%">95%</div>
    </div>
    <p>Web Design</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:85%">85%</div>
    </div>
    <p>Photoshop</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:80%">80%</div>
    </div>
    <p>
      <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
       
      </button>
    </p>
    <hr>
    
   
  
  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>Contact Me</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
        <p>pmliza28@gmail.com</p>
      </div>
      <div class="w3-third w3-teal">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
        <p>Philippines</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
        <p>1501497</p>
      </div>
    </div>
    <hr class="w3-opacity">
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>
  </div>

  
  
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
