<!DOCTYPE html>
<html>
<title>PART4</title>
<meta charset="UTF-8">  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/75/5f/54/755f54002db0661f2a251d7ca95b8f76--women-drawing-drawing-woman.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>SEO!</b></h4>
    
  </div>
  <div class="w3-bar-block">
  
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>SEO</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Home</a>
     <a href="/BACKLINKS" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Backlinks</a>
     <a href="/SS" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Website checker</a>


  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="seo">
    <a href="#"><img src="https://s-media-cache-ak0.pinimg.com/736x/85/52/dd/8552ddd388675c780e864f044e8902b6--woman-illustration-cara-delevinge.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>SEO</b></h1>
   
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://www.hitechwork.com/wp-content/uploads/2016/12/Rel-Canonical-Tag.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Importance of URL Caronalization</b></p>
        <p>it helps the webmastersand webpage proprietors wipe out self-made copy content in the record is, as I would like to think, it is uncommon that we cover web search tool news or "news things" this is given more towards strategies than breaking features, however this positively requests consideration and requires fast training.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAVyAAAAJDIwOTU5YTM3LWJjYTEtNDA0Ny04NDZlLTE2MGM0NjhlNzJmOQ.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Http status code</b></p>
        <p>http status code shows a reaction, it comprise just of the status line and discretionary headers, and is disposed of by a vacant line. There are no required headers for this class status code. The desire has unambiguous proof that the demand couldn't be met the following bounce server.
</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="https://mockingbird.marketing/wp-content/uploads/2017/03/Review-Your-Title-Tags-For-Search-Engine-Optimization-11.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><bi>Title tags</b></p>
        <p>It used to be tried and true way of thinking that title labels ought to be in the vicinity of 65 and 70 characters long. Google started only this yeae, trying different things with another hunt format plan that decreases the quantity of characters appeared to lengths in the vicinity of 48 and 62 characters. It indicates the title of the website pages, it is shown within the web index. It is implied for the exact and compact portrayal of a page content.</p> 
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://www.wordstream.com/images/screenshots/meta-description.gif" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Meta Description Tag</b></p>
        <p>meta portrayals are HTML traits that give compact rundowns of website pages. They generally show up underneath the blue interactive connections in a web crawler result page. It is a standout among the most vital components in on-page optimization </p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="http://urlnextdoor.com/content-include-images/web2/html-empty-element.png" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Image</b></p>
        <p> image in html components, as most components is a compartment. It is not a picture in and off itself, but rather a repeatable for one. It has various what we called qualities. Web indexes are getting more intelligent and more shrewd, the way toward accomplishing great research is getting more mind boggling. On-page enhancement is the mainstay of your SEO and a standout among the most vital on page advancement factors are images. </p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="http://www.webaxe.org/wp-content/uploads/2014/09/this-is-button-link.png" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Text link</b></p>
        <p>The inquiry world is continually changing however one thing is consistent: Websites with quality substance that address the issues of those scanning for that substance, and that give an easy to understand involvement, will win in the SERPs. This all begins with your meta portrayals which is basically the appreciated tangle to your site's virtual entryway. Make sure to consolidate these tips to guarantee you're exhibiting the best early introduction you can.</p>
      </div>
    </div>
   <div class="w3-third w3-container">
      <img src="https://www.ethicalseoconsulting.com/wp-content/uploads/2012/03/No-Follow-vs-Follow-Links.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>No followed link </b></p>
        <p>having no follow back links won't hurt your SEO, a perfect connection profile has take after and no follow back links. It's simply "common". They expel the connections from their chart (they don't tail them and they don't enable those connections to impact their list items).</p>
      </div>
    </div>

     <div class="w3-third w3-container">
      <img src="http://jnbwebpromotion.com/wp-content/uploads/2014/05/Philippine-SEO-services.jpg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Image Links </b></p>
        <p>This URL unmistakably demonstrates the pecking order of the data on the page (history in accordance with computer games with regards to amusements all in all). This data is utilized to decide the importance of a given website page by the web indexes. Because of the chain of command, the motors can reason that the page likely doesn't relate to history when all is said in done but instead to that of the historical backdrop of computer games or pictures. This makes it a perfect possibility for query items identified with computer game history. The greater part of this data can be hypothesized on without expecting to prepare the substance on the page.</p>
      </div>
    </div>


     <div class="w3-third w3-container">
      <img src="http://www.perfectsearchmedia.com/sites/default/files/styles/node_lead_image/public/blog/uyens-seo-post.jpg?itok=BThr2cRg" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>SEO's hyperlinking best practices </b></p>
        <p>Inner Links are hyperlinks that point at (focus on) an indistinguishable space from the area that the connection exists on (source). In layman' terms, an inward connection is one that focuses to another page on a similar site.</p>
      </div>
    </div>


     <div class="w3-third w3-container">
      <img src="http://socialmediafuze.com/wp-content/uploads/backlink-strategy-2015.png" alt="" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Blacklinking </b></p>
        <p>In site design improvement (SEO) wording a back link is a hyperlink that connections from a Web page, back to your own particular Web page or Web webpage. Likewise called an Inbound Link (IBL) these connections are vital in deciding the prominence (or significance) of your Web website. Some web indexes, including Google will consider Web destinations with more back links more pertinent in query items pages. May likewise be composed as two separate words, back connection. </p>
      </div>
    </div>

 

  <!-- Images of Me -->
  <div class="w3-row-padding w3-padding-16" id="about">
    <div class="w3-col m6">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/3e/ff/a5/3effa56691c3fb61d87a05c3eb9aaf28--hipster-girl-drawing-girl-drawings.jpg" alt="Me" style="width:100%">
    </div>
    <div class="w3-col m6">
      <img src="http://jp6.r0tt.com/l_f65aa8f0-210f-11e2-a7ea-b989b2f00006.jpg" alt="Me" style="width:100%">
    </div>
  </div>


    
    <h4>Technical Skills</h4>
    <!-- Progress bars / Skills -->
    <p>Photography</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:95%">95%</div>
    </div>
    <p>Web Design</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:85%">85%</div>
    </div>
    <p>Photoshop</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:80%">80%</div>
    </div>
    <p>
      <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
        
      </button>
    </p>
    <hr>
    
   
  
  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey">
    <h4 id="contact"><b>Contact Me</b></h4>
    <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
        <p>pmliza28@gmail.com</p>
      </div>
      <div class="w3-third w3-teal">
        <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
        <p>Philippines</p>
      </div>
      <div class="w3-third w3-dark-grey">
        <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
        <p>1501497</p>
      </div>
    </div>
    <hr class="w3-opacity">
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Message</button>
    </form>
  </div>

  
  
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
